__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
.mypy_cache/
.ruff_cache/
FD_LaTeX_Reference.aux
FD_LaTeX_Reference.log
FD_LaTeX_Reference.out
FD_LaTeX_Reference.toc
FD_LaTeX_Reference.fls
FD_LaTeX_Reference.fdb_latexmk
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
